* {
    box-sizing: border-box;
    font-family: "Viner Hand ITC";

    color: #331111;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}

h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    background-image: url("./images/hills.jpg");
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: left center;
}

#root {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.app {
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;

    padding: 2vw;
}

.mainContent {
    display: flex;
    justify-content: space-around;
}

.messageBoard, .controls {
    
    width: 45%;
    max-width: 600px;

}

.parchment {

    background-color: tan;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

    margin: 1rem 0;
    padding: 0.5rem;

    background-image: url("./images/parchment.jpg");
    background-size: auto;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.message {
    margin-bottom: 2rem;
}

.messageContents {
    text-align: right;
    margin: 0;
}

.comment {
    font-size: 1.25rem;
}